<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Protospace</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div th:insert="~{header :: header}"></div>

    <main class="main">
      <div class="inner">
        
        <div class="greeting" th:if="${#authorization.expression('isAuthenticated()')}">
          <p>
            こんにちは、
            <a th:href="@{/}" th:text="${#authentication.principal.user.name}"></a>
            さん
          </p>
        </div> 
        <!-- ログインしているときは上記を表示する -->

        <div class="card__wrapper">
          <div class="card">
            <!-- 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する  -->
          </div>
        </div>
      </div>
    </main>
    <div th:insert="~{footer :: footer}"></div>
  </body>
</html>
